<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Element Plus with ESM Import Map</title>

        <script type="importmap">
            {
                "imports": {
                    "vue": "https://unpkg.com/vue@3.2.45/dist/vue.esm-browser.js",
                    "vue-i18n": "https://unpkg.com/vue-i18n@9/dist/vue-i18n.esm-browser.js",
                    "element-plus": "https://cdn.jsdelivr.net/npm/element-plus@latest/dist/index.full.min.mjs",
                    "element-plus/": "https://cdn.jsdelivr.net/npm/element-plus@latest/",
                    "@element-plus/icons-vue": "https://cdn.jsdelivr.net/npm/@element-plus/icons-vue@2/dist/index.min.js"
                }
            }
        </script>
        <script src="/services/web/resources-core/core/message-hub.js"></script>
        <script type="module" src="./main.js"></script>

        <link rel="stylesheet" href="ui/styles.css">

        <style>
            iframe {
                display: block;
                border: none;
                width: 100%;
                height: 100%;
                background-color: transparent;
                overflow-y: auto;
            }

            .el-dialog__body {
                height: 70vh
            }

            .text-large {
                font-size: 28px;
                margin-left: 1em;
            }

        </style>
    </head>

    <body>
        <div id="app">
            <!-- Main Dialog -->
            <el-dialog v-model="isDialogVisible" :title="$t(dialogTitle)" width="70%">
                <iframe :src="dialogPath">
                </iframe>
                <template #footer>
                    <div class="dialog-footer">
                        <el-button @click="onCloseDialog()">{{ $t('i18n.generic.button.Cancel') }}</el-button>
                        <el-button type="primary" @click="confirmDialog()">{{ $t('i18n.generic.button.Confirm') }}
                        </el-button>
                    </div>
                </template>
            </el-dialog>

            <!-- Header -->
            <el-header>
                <el-menu mode="horizontal" :ellipsis="false" @select="selectNavigation">
                    <el-menu-item :index="navigationSingleView[0].path + '#'">
                        <img style="width: 100px" src="ui/button-logo-orange.png" alt="codbex logo" />
                        <span class="text-large font-600 mr-3"> Hestia </span>
                    </el-menu-item>

                    <el-menu-item :index="next.path" v-for="(next) in navigationHorizontalSingleView">{{$t(next.name)}}
                    </el-menu-item>

                    <el-sub-menu :index="'' + menuIndex" v-for="(next, menuIndex) in navigationHorizontalMenu">
                        <template #title>{{$t(next.name)}}</template>
                        <el-menu-item v-for="menuItem in next.menuItems" @click="openInNewTab(menuItem.url)">
                            {{$t(menuItem.name)}}
                        </el-menu-item>
                    </el-sub-menu>

                    <el-sub-menu index="username">
                        <template #title>admin</template>
                        <el-sub-menu index="change-locale">
                            <template #title>{{$t('i18n.menu.User.Locale')}}</template>
                            <el-menu-item v-for="next in locales" @click="changeLocale(next.id)">{{$t(next.name)}}
                            </el-menu-item>
                        </el-sub-menu>
                        <el-menu-item @click="startTour">{{$t('i18n.menu.User.StartGuidedTour')}}</el-menu-item>
                        <el-menu-item @click="logout()">{{$t('i18n.menu.User.Logout')}}</el-menu-item>
                    </el-sub-menu>
                </el-menu>
            </el-header>

            <!-- Container -->
            <el-container>
                <!-- Side Navigation -->
                <el-aside width="200">
                    <el-menu :default-active="defaultActiveMenu" @select="selectNavigation"
                        :collapse="isNavigationCollapsed">
                        <el-menu-item @click="isNavigationCollapsed = !isNavigationCollapsed">
                            <el-icon v-show="isNavigationCollapsed">
                                <Expand />
                            </el-icon>
                            <el-icon v-show="!isNavigationCollapsed">
                                <Fold />
                            </el-icon>
                        </el-menu-item>
                        <el-menu-item :index="next.path" v-for="(next) in navigationSingleView">
                            <el-icon>
                                <component :is="getIcon(next.icon)"></component>
                            </el-icon>
                            <span>{{$t(next.name)}}</span>
                        </el-menu-item>
                        <el-sub-menu :index="'' + menuIndex" v-for="(next, menuIndex) in navigationMenu">
                            <template #title>
                                <el-icon>
                                    <component :is="getIcon(next.icon)"></component>
                                </el-icon>
                                <span>{{$t(next.name)}}</span>
                            </template>
                            <el-menu-item v-for="menuItem in next.menuItems" :index="menuItem.path">
                                {{$t(menuItem.name)}}
                            </el-menu-item>
                            <el-sub-menu :index="menuIndex + '-' + subMenuIndex"
                                v-for="(subMenu, subMenuIndex) in next.subMenus">
                                <template #title>
                                    <el-icon>
                                        <component :is="getIcon(next.icon)"></component>
                                    </el-icon>
                                    <span>{{$t(subMenu.name)}}</span>
                                </template>
                                <el-menu-item v-for="subMenuItem in subMenu.menuItems" :index="subMenuItem.path">
                                    {{$t(subMenuItem.name)}}
                                </el-menu-item>
                            </el-sub-menu>
                        </el-sub-menu>
                    </el-menu>
                </el-aside>

                <!-- Main View -->
                <el-container>
                    <el-main>
                        <iframe :src="view" style="height: 80vh">
                        </iframe>
                    </el-main>
                </el-container>
            </el-container>

            <!-- Footer -->
            <el-footer>
                <el-descriptions :column="3" :size="small">
                    <el-descriptions-item>
                        <template #label>
                            <div>
                                <el-icon>
                                    <OfficeBuilding />
                                </el-icon>Company
                            </div>
                        </template>
                        codbex
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <div>
                                <el-icon>
                                    <Location />
                                </el-icon>
                                Address
                            </div>
                        </template>
                        10 Vihren, floor 3, office 3.3, 1618, Sofia
                    </el-descriptions-item>
                    <el-descriptions-item>
                        <template #label>
                            <div>
                                <el-icon>
                                    <PostCard />
                                </el-icon>
                                Contacts
                            </div>
                        </template>
                        office@codbex.com
                    </el-descriptions-item>
                </el-descriptions>
            </el-footer>
        </div>
    </body>

</html>
